{% extends 'common.html' %}

{% block content %}
    {% include 'student/shmenu.html' %}
    <br>
    <br>
    <form method="post" action="{% url 'shome' %}">
    {% csrf_token %}
        <h2 align="center" style="font-family:Arial">Log In</h2>
        <br>
        <table align="center">
            <tr><th>Username :</th><th><input type="text" name="un" required></th></tr>
            <tr><th>Password :</th><th><input type="password" name="pas" required> </th></tr>
            <tr><th></th></tr>
            <tr><th colspan="2"><button type="submit">Login</button> </th></tr>
            {% if message %}
            <tr>
                <th>{{ message }}</th>
            </tr>
            {% endif %}
        </table>
    </form>


{% endblock %}