

    <nav class="navbar nav-light nav-bg-light" style="background-color: antiquewhite">
    <table align="center" style="height:0px">
    <tr>
        <th style="text-align: center;"><a href="{% url 'register' %}" class="btn btn-Light btn-lg active" role="button" tabindex="-1" aria-disabled="true">Register </a> </th>
        <th style="text-align: center;"><a href="{% url 'slogin' %}" class="btn btn-Light btn-lg active" role="button" tabindex="-1" aria-disabled="true">Login </a> </th>
        <th style="text-align: center;"><a href="" class="btn btn-Light btn-lg active" role="button" tabindex="-1" aria-disabled="true">Search </a></th>
        <th style="text-align: center;"><a href="" class="btn btn-link btn-lg active" role="button" tabindex="-1" aria-disabled="true">Contact Us </a> </th>
    </tr>
    </table>
    </nav>

