

    <nav class="navbar nav-light nav-bg-light" style="background-color: antiquewhite">
    <table align="center" style="height:0px">
    <tr >
        <th style="text-align: center;"><a href="{% url 'home' %}" class="btn btn-Light btn-lg active" role="button" tabindex="-1" aria-disabled="true">Home </a> </th>
        <th style="text-align: center;"><a href="{% url 'addclass' %}" class="btn btn-Light btn-lg active" role="button" tabindex="-1" aria-disabled="true">Schedule New Classes </a> </th>
        <th style="text-align: center;"><a href="{% url 'viewclass' %}" class="btn btn-Light btn-lg active" role="button" tabindex="-1" aria-disabled="true">View All Scheduled Classes </a></th>
        <th style="text-align: center; padding-left: 80px"><a href="{% url 'login' %}" class="btn btn-danger btn-lg active" role="button" tabindex="-1" aria-disabled="true">Logout </a> </th>
    </tr>
    </table>
    </nav>

