{% extends 'common.html' %}
{% block content %}
    {% include 'Admin/adminnav.html' %}
    {% load static %}
    <form>
        <h2 align="center"  style="color: chocolate;" >All Scheduled Classes</h2>
        <table align="center" border="2" width="900px">
            <tr align="center" style="color: blue">
                <th>No</th>
                <th>Name</th>
                <th>Faculty</th>
                <th>Date</th>
                <th>Time</th>
                <th>Fee</th>
                <th>Duration</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for x in object_list %}
                <tr align="center">
                <th>{{ x.id }}</th>
                <th>{{ x.name }}</th>
                <th>{{ x.faculty }}</th>
                <th>{{ x.date }}</th>
                <th>{{ x.time }}</th>
                <th>{{ x.fee }}</th>
                <th>{{ x.duration }}</th>
                <th><a href="{% url 'updatecourse' x.id %}" class="btn btn btn-sm" role="button" aria-disabled="true">YES</a> </th>
                <th><a href="{% url 'deletecourse' x.id %}"><img height="20px" src="{% static 'images/delete1.png' %}"></a> </th>
            </tr>
            {% endfor %}
        </table>
    </form>


{% endblock %}